@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
}

.container{
  width: 300px;
  height: auto;
  padding: 40px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

h4{
  font-size: 20px;
  color: #121212;
}

.form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.input_field_box{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.input_field_box input{
  border: none;
  max-width: 20%;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  background: #f0f0f0;
  font-size: 25px;
}

.input_field_box input::-webkit-inner-spin-button,
.input_field_box input::-webkit-outer-spin-button {
  display: none;
}

.input_field_box input:focus{
  outline: 1.5px solid #00b991;
  outline-offset: 2px;
}

form button {
  margin-top: 25px;
  width: 92%;
  color: #525252;
  font-size: 16px;
  padding: 10px 0;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  pointer-events: none;
  cursor: pointer;
  background: #e9d585;
  transition: all 0.2s ease;
}
form button.active {
  background: #ffcc00;
  pointer-events: auto;
  color: #000000;
}
form button:hover {
  background: #e6b801;
}
